  <div class="container">

    <header class="header clearfix">
      <div class="logo">Артзавтра.юа</div>

      <nav class="menu_main">
        <ul>
          <li class="active"><a href="#">Конкурс</a></li>
          <li><a href="#">Умови участі</a></li>
          <li><a href="#">Команда</a></li>
          <li><a href="#">Партнери</a></li>
          <li><a href="#">Наші контакти</a></li>
        </ul>
      </nav>
    </header>


    <div class="info">
      <article class="hero clearfix">
        <div class="col_100">
          <h1>Конкурс сучасного українського авторського мистецтва</h1>
          <p class="test">Артзавтра.юа - це перший міжнародний відкритий фестиваль. Конкурс сучасного українського авторського мистецтва серед молоді з тематикою «Я-ти. Сьогодні-Завтра. Україна»</p>
          <p class="test">Головною метою проекту є отримання унікального нового українського культурного продукту  та формування, розвиток національної ідентифікації українців з власними національними культурними цінностями, свідомістю,  почуттями.</p>
        </div>
      </article>


      <article class="article clearfix">

        <div class="col_33">
          <h3><%= link_to "Образотворче мистецтво", :action => "catalog" %></h3>
          <p> Конкурс картин на тему «Я.Ти.Сьогодні – Завтра. Україна»</p>
        </div>

        <div class="col_33">
          <h3><%= link_to "Музика", :action => "catalog" %></h3>
          <p>Конкурс музичного мистецтва на тему « Я. Ти. Сьогодні. Завтра. Україна»</p>
        </div>

        <div class="col_33">
          <h3><%= link_to "Соціальне відео", :action => "catalog" %></h3>
          <p>Конкурс відео хвилин, відеороликів  соціального характеру на тему «Я. Ти. Сьогодні. Завтра України»</p>
        </div>

        <div class="clearfix"></div>

        <div class="col_33">
          <h3><%= link_to "Логотип та мото", :action => "catalog" %></h3>
          <p>Конкурс логотипів та мото для України. (на приклад: Малайзия - Malasia,truly Asia)</p>
        </div>

        <div class="col_33">
          <h3><%= link_to "Танці", :action => "catalog" %></h3>
          <p>Конкурс хореографічних номерів українського сучасного танку (сюжетні постановки на тему «Я.Ти. Сьогодні – Завтра України «Буття українців»)</p>
        </div>

        <div class="col_33">
          <h3><%= link_to "Дизайн", :action => "catalog" %></h3>
          <p>Конкурс дизайнерських рішень</p>
        </div>


        <div class="clearfix"></div>

        <h1>Умови участі</h1>
        <div class="col_50">
        <p>На основі конкурсного відбору ( он-лайн голосування та оргкомітет)
            автори робіт, виконавці найкращих робіт стають фіналістами  конкурсу
            та з їх номерів формується загальна концепція фінального вечора.
            Стипендіати Фонду Пінчука забезпечують реалізацію проекту. Фіналістів
            конкурсу відбирає Оргкомітет.
            На фінал будуть запрошені представники українського сучасного
            мистецтва - як учасники і як почесні гості, які визначать найкращих з
            найкращих та вручать спеціальні призи.</p>
          </div>

        <div class="col_50 сс">
          <p>25 ноября. Презентация проекта в КПИ</p>
          <p>16 ноября. Холодно, поеду я в Ашан, куплю сосисок и хвост селедочки</p>
          <p>13 ноября. Собрались в клубе попили чайку</p>
        </div>

        <div class="clearfix"></div>


        <p>- Так, це дуже цікаво!</p>
        <div>
            <input type="submit" value="Подати роботу" class="button" />
        </div>


        <h1>Команда</h1>
        <p>Ліза Ясько - лідер проекту
          <br>
          Максим Дідур
          <br>
          Артем Шаіпов
        </p>

        <h1>Партнери фестивалю</h1>

        <h1>Наші контакти</h1>




        <!--<div class="col_50">-->
          <!--<h2>Sample content</h2>-->
          <!---->
          <!--<h3>Principles behind “Simpliste”</h3>-->
          <!--<ul>-->
             <!--<li>Really simple</li>-->
             <!--<li>Has ready to use set of simple designs</li>-->
             <!--<li>It's written using HTML5 and CSS3</li>-->
             <!--<li>It responds to mobile devices</li>-->
             <!--<li>No CMS</li>-->
             <!--<li>Free</li>-->
          <!--</ul>-->
          <!---->
          <!--<h3>How to use?</h3>-->
          <!--<ol>-->
             <!--<li>Choose one skin from the list above</li>-->
             <!--<li>Click download button</li>-->
             <!--<li>Unpack files</li>-->
             <!--<li>Make any customisation you need</li>-->
             <!--<li>Upload your new site to the server</li>-->
          <!--</ol>-->
        <!--</div>        -->

        <!--<div class="col_50">-->
          <!--<form action="#" method="post" class="form">-->
            <!--<h2>Sample form</h2>-->

            <!--<p class="col_50">-->
              <!--<label for="name">Simple name:</label><br/>-->
              <!--<input type="text" name="name" id="name1" value="" tabindex="1" />-->
            <!--</p>-->
            <!--<p class="col_50">-->
              <!--<label for="name">Simple e-mail:</label><br/>-->
              <!--<input type="text" name="name" id="name2" value="" tabindex="1" />-->
            <!--</p>-->
            <!--<div class="clearfix"></div>-->

            <!--<h3>Your favorite number</h3>-->
            <!--<p>-->
              <!--<div class="col_33">-->
                <!--<label for="radio-choice-1"><input type="radio" name="radio-choice-1" id="radio-choice-1" tabindex="2" value="choice-1" /> One</label><br/>-->
                <!--<label for="radio-choice-2"><input type="radio" name="radio-choice-1" id="radio-choice-2" tabindex="3" value="choice-2" /> Two</label><br/>-->
                <!--<label for="radio-choice-3"><input type="radio" name="radio-choice-1" id="radio-choice-3" tabindex="4" value="choice-3" /> Three</label>-->
              <!--</div>-->

              <!--<div class="col_33">-->
                <!--<label for="radio-choice-4"><input type="radio" name="radio-choice-1" id="radio-choice-4" tabindex="2" value="choice-1" /> Four</label><br/>-->
                <!--<label for="radio-choice-5"><input type="radio" name="radio-choice-1" id="radio-choice-5" tabindex="3" value="choice-2" /> Five</label><br/>-->
                <!--<label for="radio-choice-6"><input type="radio" name="radio-choice-1" id="radio-choice-6" tabindex="4" value="choice-3" /> Six</label>-->
              <!--</div>-->

              <!--<div class="col_33">-->
                <!--<label for="radio-choice-7"><input type="radio" name="radio-choice-1" id="radio-choice-7" tabindex="2" value="choice-1" /> Seven</label><br/>-->
                <!--<label for="radio-choice-8"><input type="radio" name="radio-choice-1" id="radio-choice-8" tabindex="3" value="choice-2" /> Eight</label><br/>-->
                <!--<label for="radio-choice-9"><input type="radio" name="radio-choice-1" id="radio-choice-9" tabindex="3" value="choice-2" /> Niine</label>-->
              <!--</div>-->

            <!--<div class="clearfix"></div>-->
            <!--</p>-->

            <!--<p>-->
              <!--<label for="select-choice">Simple city:</label>-->
              <!--<select name="select-choice" id="select-choice">-->
                <!--<option value="Choice 1">London</option>-->
                <!--<option value="Choice 2">Paris</option>-->
                <!--<option value="Choice 3">Rome</option>-->
              <!--</select>-->
            <!--</p>-->

            <!--<p>-->
              <!--<label for="textarea">Simple testimonial:</label><br/>-->
              <!--<textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>-->
            <!--</p>-->

            <!--<p>-->
              <!--<label for="checkbox"><input type="checkbox" name="checkbox" id="checkbox" /> Simple agreement</label><br/>-->
            <!--</p>-->

            <!--<div>-->
                <!--<input type="submit" value="Submit" class="button" />-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->

        <!--<div class="clearfix"></div>-->


        <!--<div class="col_33">-->
          <!--<h2>More elements</h2>-->

          <!--<p>Use <code>strong</code> tag for information with <strong>strong importance</strong>. Use <code>em</code> tag to <em>stress emphasis</em> on a word or phrase.</p>-->

          <!--<p class="warning">Sample <code>.warning</code></p>-->
          <!--<p class="success">Sample <code>.success</code></p>-->
          <!--<p class="message">Sample <code>.message</code></p>-->
        <!--</div>-->

        <!--<div class="col_66">-->
          <!--<h2>CSS classes table</h2>-->

          <!--<table class="table">-->
            <!--<tr>-->
              <!--<th>Class</th>-->
              <!--<th>Description</th>-->
            <!--</tr>-->

            <!--<tr>-->
              <!--<td><code>.col_33</code></td>-->
              <!--<td>Column with 33% width</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td><code>.col_50</code></td>-->
              <!--<td>Column with 50% width</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td><code>.col_66</code></td>-->
              <!--<td>Column with 66% width</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td><code>.col_100</code></td>-->
              <!--<td>Full width column with proper margins</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td><code>.clearfix</code></td>-->
              <!--<td>Use after or wrap a block of floated columns</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td><code>.left</code></td>-->
              <!--<td>Left text alignment</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td><code>.right</code></td>-->
              <!--<td>Right text alignment</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td><code>.center</code></td>-->
              <!--<td>Centered text alignment</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td><code>.img_floatleft</code></td>-->
              <!--<td>Left alignment for images in content</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td><code>.img_floatright</code></td>-->
              <!--<td>Right alignment for images in content</td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td><code>.img</code></td>-->
              <!--<td>Makes image change its width when browser window width is changed</td>-->
            <!--</tr>-->
          <!--</table>-->
        <!--</div>-->

        <div class="clearfix"></div>

        <div id="vk_like"></div>
        <script type="text/javascript">
        VK.Widgets.Like("vk_like", {type: "full", verb: 1});
        </script>

      </article>
    </div>
    
    <footer class="footer clearfix">
      <div class="copyright">&copy; 2012, Артзавтра</div>

      <nav class="menu_bottom">
        <ul>
          <li class="active"><a href="#">Конкурс</a></li>
          <li><a href="#">Умови участі</a></li>
          <li><a href="#">Команда</a></li>
          <li><a href="#">Партнери</a></li>
          <li><a href="#">Наші контакти</a></li>
        </ul>
      </nav>
    </footer>

  </div>

      <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28412061-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      </script>